[Unit]
Description=Timelapse Services
Wants=timelapse-capture.service timelapse-render.service timelapse-web.service

[Install]
WantedBy=multi-user.target
